.header {
  padding: 15px 0;
  border-bottom: solid 1px #2a2f371f;
}

.header__order {
  color: #fff;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  background: #1e3daf;
  padding: 8px 16px;
}

.header__sigin {
  color: #2a2f37;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  display: flex;
  align-items: center;
}
.user-icon {
  margin-left: 8px;
}

.global {
  margin-top: 80px;
  margin-bottom: 120px;
}

.global__content {
  width: 464px;
}

.global__content-title {
  display: block;
  margin-bottom: 40px;
}

.search-form,
.advertisement__search {
  margin-top: 40px;
  position: relative;
  top: 0;
  left: 0;
}

.search-form__search {
  border: 1px solid rgba(42, 47, 55, 0.08);
  background: rgba(42, 47, 55, 0.02);
  width: 464px;
  height: 37px;
  padding: 12px 16px;
  opacity: 0.4;
  width: 24px;
  height: 24px;
}

.search-form__btn {
  content: "";
  position: absolute;
  top: 7px;
  left: 420px;
  z-index: 4;
  width: 24px;
  height: 24px;
}

.articles {
  padding-bottom: 160px;
  background: rgba(42, 47, 55, 0.04);
}

.articles__filter {
  padding-top: 40px;
}

.articles__filter-btn {
  width: none;
  margin-right: 18px;
  background: rgba(42, 47, 55, 0.06);
  padding: 8px 16px;
}

.articles__filter-btn:hover {
  background: #1e3daf;
  color: #ffffffff;
}

.articles__title {
  display: block;
  margin-bottom: 32px;
  margin-top: 80px;
}

.articals__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px 40px;
}

.article__list-link {
  display: block;
}

.article__list-link:hover .article__list-paper {
  box-shadow: 0px 8px 36px 0px rgba(42, 47, 55, 0.06);
}

.article__list-link:hover .paper__content-title {
  color: #1e3daf;
}

.article__list-paper {
  background: #fff;
  color: #2a2f37;
  width: 363px;
  display: block;
  /*пробовал прописать высоту косяк получаеться*/
}

.paper__image {
  width: 363px;
  height: 200px;
}

.paper__marker {
  content: "";
  position: relative;
  z-index: 2;
  background: #1e3daf;
  color: #ffffff;
  padding: 6px 12px;
  display: inline-block;
  bottom: 66px;
  left: 26px;
}

.paper__content {
  padding: 24px;
  background: #fff;
}

.paper__content-text {
  display: block;
  margin-top: 16px;
  margin-bottom: 88px;
}

.paper__content-wrapper {
  opacity: 0.4;
}

.paper__content-views {
  position: relative;
  top: 0;
  left: 0;
}

.paper__content-views::before {
  content: url("../svg/eye.svg");
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: -30px;
}

.paper__add {
  border: 1px solid #2a2f37;
  color: #2a2f37;
  text-align: center;
  font-family: "Roboto Slab";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
  padding: 12px 48px;
  display: block;
  margin: 40px auto;
}

.footer {
  padding-top: 48px;
  background: #2a2f37;
}

.logo__footer {
  display: block;
  margin-right: 80px;
}

.footer__logo-text {
  position: relative;
  top: 0;
  left: 0;
  width: 247px;
  display: block;
}

.footer__logo-text::before {
  content: " ";
  position: absolute;
  width: 1px;
  height: 32px;
  opacity: 0.5;
  background: #fff;
  top: 0;
  left: -40px;
}

.footer__social-item {
  margin-left: 20px;
}

.menu__list {
  margin-top: 64px;
}

.menu__list-link {
  color: #fff;
}

.footer__info {
  margin-top: 48px;
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  padding-bottom: 48px;
  padding-top: 24px;
}

.footer__info-polytical {
  text-decoration: underline;
}

/* стили для страницы объявления*/
.aside {
  background: #fff;
  margin-top: 40px;
  margin-left: 375px;
  width: 263px;
  height: 920px;
}
.container-asaide {
  width: 263px;
}

.account {
  padding: 28px 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.account__image {
  width: 40px;
  height: 40px;
  background-color: #2a2f37;
  opacity: 0.4;
  color: #2a2f37;
  text-align: center;
  font-family: "Roboto Slab";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}

.account__info-name {
  color: #2a2f37;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}

.account__info-rank {
  opacity: 0.6;
}

.dashboard__list {
  margin: 24px 24px;
}

.dashboard__list-link {
  display: inline-block;
  align-items: center;
  color: #1e3daf;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  position: relative;
  top: 0;
  left: 0;
}

.dashboard__list-link::before {
  content: " ";
  position: absolute;
  top: 0;
  left: -56px;
  background: #1e3daf;
  width: 1px;
  height: 40px;
}

.exit {
  color: #2a2f37;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  display: block;
  position: relative;
  top: 0;
  left: 50px;
  align-items: flex-end;
}

.exit::before {
  content: url(../svg/external-link.svg);
  position: absolute;
  top: 0;
  left: -30px;
  width: 20px;
  height: 20px;
}

.advertisement {
  margin-top: 40px;
  margin-left: 40px;
}

.container-mini {
  width: 867px;
}

.advertisement__wrapper {
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}

.advertisment__info-title {
  color: #2a2f37;
  font-family: "Roboto";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}

.advertisment__add {
  background: #1e3daf;
  color: #fff;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
  padding: 8px 16px;
  border: none;
}

.advertisment__search-input {
  width: 420px;
  height: 40px;
}

.advertisment__search-button {
  content: "";
  position: absolute;
  top: 8px;
  left: 380px;
  z-index: 4;
  width: 24px;
  height: 24px;
  opacity: 0.4;
}

.advertisment__search-filter {
  width: 159px;
  height: 40px;
  margin-left: 16px;
}

.advertisement__list {
  margin-top: 24px;
}


.advertisement__list-navigation {
  color: #2a2f37;
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 133.333% */
  background: #fff;
}
